.toplevel_page_media-cleaner-setting > div.wp-menu-image {
	background: none !important;
}
.toplevel_page_media-cleaner-setting > div.wp-menu-image:before {
	content: '';
	background: url("../../assets/images/menu-icon-30x30.png") no-repeat center center;
	width: 25px;
	padding: 7px 0;
	-webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}
#toplevel_page_media-cleaner-setting .wp-submenu .wp-first-item {
	/*display: none;*/
}