.WPMC_settings .left_block, .WPMC_media_scan .left_block {
	float: left;
	width: 22%;
	background-color: #006bb4;
	border-radius: 4px;
	padding: 15px;
	height: 420px;
}
.WPMC_settings ul.setting_menu li a, .WPMC_media_scan ul.setting_menu li a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	line-height: 27px;
	box-shadow: none;
}
.WPMC_settings .right_block, .WPMC_media_scan .right_block {
	width: 78%;padding-left:30px;
	float: right;
}
.WPMC_settings .setting_section_block, .WPMC_media_scan .setting_section_block {
	display: none;
}
.WPMC_settings .license_section_block, .WPMC_media_scan .license_section_block {
	display: block;
}
.WPMC_settings .setting_section, .WPMC_media_scan .setting_section {padding: 0 0 20px;}
.WPMC_settings .license_form .license_form_input, .WPMC_media_scan .license_form .license_form_input {display: flex;align-items: center;flex-wrap: wrap;}
.WPMC_settings .license_form .license_form_input span, .WPMC_media_scan .license_form .license_form_input span {width:80px;color: #166ab4;font-size: 14px;}
.WPMC_settings .license_form .license_form_input input, .WPMC_media_scan .license_form .license_form_input input {width: calc(100% - 80px);line-height: 22px;margin: 0;border-radius: 5px;border: 2px solid #166ab4;}
.WPMC_settings .license_form .license_form_input input::placeholder, .WPMC_media_scan .license_form .license_form_input input::placeholder {color: #8eb2d1;}
.WPMC_settings .license_form .license_form_action, .WPMC_media_scan .license_form .license_form_action {
	text-align: right;
}
.WPMC_settings .license_form .license_form_action .if_license_activated, .WPMC_media_scan .license_form .license_form_action .if_license_activated {
	color: #44a544;
	font-size: 14px;
	margin: 0;
}
.WPMC_settings .license_form p.license_form_action_input a, .WPMC_media_scan .license_form p.license_form_action_input a {
	color: #c34949;
	text-decoration: none;
	box-shadow: none;
}
.WPMC_settings .license_form p.license_form_action_input input, .WPMC_media_scan .license_form p.license_form_action_input input {
	background: none;
	border: none;
	color: #c34949;
	cursor: pointer;
	margin: 0;
	padding: 0;
}
.WPMC_settings .license_form p.license_form_action_input, .WPMC_media_scan .license_form p.license_form_action_input {
	margin: 0;
	color: #c34949;
}
.WPMC_settings .bulk_job_option_form .license_form_input span, .WPMC_media_scan .bulk_job_option_form .license_form_input span {
	font-size: 18px;
	color: #166ab4;
}
.WPMC_settings .bulk_job_option_form .license_form_input input, .WPMC_media_scan .bulk_job_option_form .license_form_input input {
	line-height: 22px;
	border-radius: 5px;
	border: 2px solid #166ab4;
}
.WPMC_settings .bulk_job_option_form .bulk_job_form_description p, .WPMC_media_scan .bulk_job_option_form .bulk_job_form_description p {
	color: #166ab4;
	margin: 0;
}
.WPMC_settings .support_form_block .support_form_detail p, .WPMC_media_scan .support_form_block .support_form_detail p {
	margin: 0;
}
.WPMC_settings .support_form_block, .WPMC_media_scan .support_form_block {
	color: #166ab4;
}
.text-right {text-align: right;}
.WPMC_settings .form-group {display: flex;flex-wrap: wrap; margin-bottom:15px;}
.WPMC_settings .form-group label {width:150px;color: #166ab4;font-size: 16px;font-weight: 500;line-height: 1.6;}
.WPMC_settings .form-group .form-control {width: calc(100% - 150px);border-radius: 5px;padding: 4px 15px;color: #166ab4;border: 2px solid #166ab4;margin: 0;}
.WPMC_settings .form-group textarea {min-height: 100px;}
.WPMC_settings input[type="submit"] {min-width: 120px;background-color: #166ab4;color: white;border: solid 1px #166ab4;border-radius: 4px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;padding: 6px 12px;font-size: 14px;font-weight: 400;line-height: 1.42857143;cursor: pointer;transition: all .3s ease-in;-moz-transition: all .3s ease-in;-webkit-transition: all .3s ease-in;}
.WPMC_settings input[type="submit"]:hover {color: #166ab4; background-color:transparent;}

.WPMC_settings .deactivate_block .deactivate_option_label, .WPMC_media_scan .deactivate_block .deactivate_option_label {
	float: left;
	width: 25%;
}
.WPMC_settings .deactivate_block .deactivate_option_label h4, .WPMC_media_scan .deactivate_block .deactivate_option_label h4 {
	margin: 4px;
	color: #166ab4;
	font-size: 16px;
}
div#abcd_filter:after {
	content: "";
	position: relative;
	bottom: 30px;
	width: 30px;
	height: 30px;
	background: url("../images/search-icon.jpg") no-repeat -30px -50px no-scroll;
	background-color: red;
}
.dataTables_wrapper .dataTables_filter label {width: 100%;margin: 0;font-size: 0;}
.dataTables_wrapper .dataTables_filter label input[type="search"] {width: 100%;margin: 10px 0 0;padding: 6px 12px;font-size: 14px;font-weight: normal;background-image: url("../images/search.jpg");background-repeat: no-repeat;background-position: center right 2px;background-size: 34px;}
td, td a, th.sorting {color: #4db9ab;}
input[type="search"], input[type=checkbox] {border-color: #4db9ab;border-radius: 4px;}
.botm-btn .btn-blue {width: 100%;border-color: #4db9ab;}
.botm-btn .btn-red {
	width: 100%;
	border-color: #f24e85;
	background-color: #f24e85 !important;
}
.btn-default.btn-red:hover {
	color: #fff;
}
input[type=checkbox]:checked:before {
	content: '' !important;
	width: 14px;height: 14px;background-color: #4db9ab;position: relative;left: 0;top: 0;margin: 0;}
div#abcd_filter {
	padding: 0 6px;
}
.btn-default:active:focus {
	color: #fff;
	background-color: #4cb9ab;
	border-color: #4cb9ab;
}
span.p_detail {
	color: #E53373;
	font-size: 12px;
	font-weight: 900;
}

/* R.K */
img { vertical-align:middle; max-width:100%;}
a, .btn {transition:all .3s ease-in; -moz-transition:all .3s ease-in; -webkit-transition:all .3s ease-in;}
a:focus, a:hover {outline: 0;outline-offset: 0;box-shadow: none;text-decoration: none;}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.gray {color: grey;}
.red {color: #f24e85;}
.btn-blue, .multiselect.btn  {min-width: 120px;border-color: #4DB9AB;background-color: #4DB9AB;color:white;}
.btn-blue:hover, .btn-blue:focus, .multiselect.btn:hover {background-color:transparent;color: #4DB9AB;}
.btn-red {min-width: 120px;border-color: #E53373;background-color: #E53373;color:white;}
.btn-red:hover, .btn-red:focus {background-color:transparent;color: #E53373;}
.btn-group.open .dropdown-toggle {-webkit-box-shadow: none;box-shadow: none;}
.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {color: #4DB9AB;background-color: transparent;border-color: #4DB9AB;}
input[type="checkbox"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime-local"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="radio"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, select:focus, textarea:focus {border-color: #4db9ab;box-shadow: none;}

body.media-cleaner_page_media-cleaner-content-scan, body.toplevel_page_media-cleaner-media-scan, body.media-cleaner_page_media-cleaner-image-optimize, body.media-cleaner_page_media-cleaner-database-cleaner, body.media-cleaner_page_media-cleaner-backup {background-color: #f1f1f3;}
.WPMC_header { margin:10px 0;}
.WPMC_header a {max-width:240px;display:block;}
.WPMC_media_scan, .WPMC_settings {box-sizing: border-box;display: inline-block;width: 100%;clear: both;padding-left: 30px;padding-right: 50px;font-size: 13px;}
.filter_top, .filter_bottom {margin: 0;display: block;clear: both;}
.filter_top > li, .filter_bottom > li {float:left;margin-bottom:0;}
.filter_top > li .text, .filter_bottom > li .text {padding:0 10px;color: gray;}
.filter_top > li:not(:first-of-type), .filter_bottom > li:not(:first-of-type) {margin-left:10px;}
.filter_top > li:last-of-type {text-align: right;float: right;}
.filter_top > li:last-of-type label {font-weight: 300;font-size: 12px;display:block; margin:0;}
.filter_top > li:last-of-type label:last-child {font-weight: 600;}
.filter_top .multiselect.btn .caret {display:none;}

.multiselect-container.dropdown-menu {max-height: 110px;overflow-y: auto;}
.multiselect-container > li { margin:0;}
.multiselect-container > li > a {color: #4DB9AB;padding: 8px 10px;}
.multiselect-container > li > a > label {padding: 0;text-transform: capitalize;display: flex;align-items: center;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {color: #4DB9AB;background-color: #f4f7fc;box-shadow: none;}
.multiselect-container > li > a > label > input[type="checkbox"] {margin:0 8px 0 0;position: static;}
/*Table*/
.table_design, .WPMC_media_scan .dataTables_wrapper {margin:10px 0;}
.WPMC_media_scan .dataTables_wrapper {display: flex;flex-direction: column-reverse;}
.table_design > thead > tr > th {border-bottom: none;color: #4DB9AB;}
table.table_design tbody th, table.table_design tbody td {border: none;}
.table_design>tbody>tr:nth-of-type(odd) {background-color: white;}
.table_design>tbody>tr:nth-of-type(even) {background-color: #f4f7fc;}
.table_design thead th:first-child, .table_design tbody td:first-child {/*padding: 0;*/width: 50px !important;text-align: center;}
table.table_design thead th, table.table_design thead td, table.table_design tbody th, table.table_design tbody td {padding: 5px;vertical-align: middle;}
table.table_design thead .sorting_asc, table.table_design thead .sorting, table.table_design thead .sorting_desc {background-image: none;}
.table_design thead .sorting::after, .table_design thead .sorting_asc::after, .table_design thead .sorting_desc::after {content: '';width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;display: inline-block;margin: 0 0 2px 8px;}
.table_design thead .sorting::after, .table_design thead .sorting_asc::after {border-top: 5px solid #4DB9AB;}
.table_design thead .sorting_desc::after {border-bottom: 5px solid #4DB9AB;}
.dataTables_scrollBody .table_design thead .sorting::after, .dataTables_scrollBody .table_design thead .sorting_desc::after, .dataTables_scrollBody .table_design thead .sorting_asc::after, .table_design thead th:first-child::after {display:none;}
.dataTables_wrapper.no-footer .dataTables_scrollBody {border-bottom: none;}

.tooltipstext {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(18, 199, 132, 0.88);z-index: 1;}
.tooltipstext .tooltip-main {max-width: 690px;max-height: 365px;color: white;padding: 15px;background-color: rgba(0, 0, 0, 0.75);margin: 10% auto 0;border-radius: 4px;box-shadow: 8px 8px 0px rgba(255,255,255,.2);}
.tooltipstext .close {color: white;opacity: 1;font-size: 16px;text-shadow: none;}
.tooltipstext .close:hover {color: rgb(18, 199, 132);}
.tooltipstext .tooltip-main, .mytooltip .tooltip_content {scrollbar-width: thin;scrollbar-color: #56d6c5 white;overflow-y: auto;}
.tooltipstext .tooltip-main::-webkit-scrollbar-track, .tooltip_content::-webkit-scrollbar-track {background-color: white;}

.media_list > li {display: flex;flex-wrap: wrap;align-items: center;margin-bottom: 10px;}
.media_list > li .left_part {width: 60%;display: flex;flex-wrap: wrap;align-items: center;}
.media_list > li .left_part img {max-width: 130px;}
.media_list > li .left_part .files_details {width: calc(100% - 130px);padding: 0 15px;}
.media_list > li p {margin: 0;}
.media_list > li .description_part {width: 40%;}


.dataTables_scrollBody, .media_content_div, .multiselect-container.dropdown-menu {scrollbar-width: thin;scrollbar-color: #56d6c5 #adefe6;}
.dataTables_scrollBody::-webkit-scrollbar, .media_content_div::-webkit-scrollbar, .multiselect-container.dropdown-menu::-webkit-scrollbar, .tooltip_content::-webkit-scrollbar, .tooltipstext .tooltip-main::-webkit-scrollbar {width: 10px;}
.dataTables_scrollBody::-webkit-scrollbar-track, .media_content_div::-webkit-scrollbar-track, .multiselect-container.dropdown-menu::-webkit-scrollbar-track {background-color: #adefe6;}
.dataTables_scrollBody::-webkit-scrollbar-thumb, .media_content_div::-webkit-scrollbar-thumb, .multiselect-container.dropdown-menu::-webkit-scrollbar-thumb, .tooltip_content::-webkit-scrollbar-thumb, .tooltipstext .tooltip-main::-webkit-scrollbar-thumb {background-color: #56d6c5;}

.table_design .img_pic {width: 50px;height: 50px;background-color: #787878;color: white;border-radius: 3px;overflow: hidden;text-align: center;display: table-cell;}
.table_design .img_name {display: table-cell;vertical-align: middle;padding-left: 10px;}
.table_design .img_name span { display:block;}
.table_design .bottom_btn a:not(:last-of-type) {position:relative;margin-right:15px;}
.table_design .bottom_btn a:not(:last-of-type):after {content: '';position: absolute;top: 2px;right: -8px;height: 12px;width: 1px;background-color: #f24e85;}
.table_design .size-optimize .old-size {margin-right:10%;}

.WPMC_media_scan .progress {position:relative;margin:0 0 10px;height: 34px;background-color: white;border-radius: 4px;-webkit-box-shadow: none;box-shadow: none;border: solid 1px #4DB9AB;}
.WPMC_media_scan .progress .progress-bar {background-color:#4DB9AB;-webkit-box-shadow: none;box-shadow: none;}
.WPMC_media_scan .progress span { position:absolute;right:10px;top:6px;}

.data_cleaner {margin: 0;display: flex;flex-wrap: wrap;justify-content: space-between;}
.data_cleaner > li {width:calc(100% / 3 - 10px);margin-bottom: 15px;background-color: white; color:#4DB9AB;border-radius: 5px;font-size: 12px;}
.data_cleaner > li h5 {background-color: #4DB9AB;color:white; margin:0 0 15px;padding:10px;text-align:center;border-radius: 5px 5px 0 0;}
.data_cleaner > li .form-group {padding:0 10px;}
.data_cleaner > li .btn {min-width: 80px;padding: 3px 2px;font-size: 12px;}
.data_cleaner > li .form-group .w2 {min-width: 165px;margin-left: 46%;}
.data_cleaner > li label {width: 46%;margin:0;font-weight: normal;}
.data_cleaner > li.Plugins_box .form-group {display: flex;justify-content: space-between;}
.data_cleaner > li.Plugins_box label {width: calc(100% - 230px);}
.data_cleaner > li.Plugins_box .text-right {}
.data_cleaner > li.Plugins_box .avtiveInactive {min-width: 54px;}
.data_cleaner > li hr {margin: 15px 10px;border-top: 1px solid #4DB9AB;}
.data_cleaner .reset_wordpress .form-group {display: flex;flex-wrap: wrap;}
.data_cleaner > li.reset_wordpress .btn:not(:last-child) { margin-bottom:10px;}
.data_cleaner .reset_wordpress .left {width: 135px;display: inline-block;}
.data_cleaner .reset_wordpress .right {width: calc(100% - 135px);display: inline-block;}
.data_cleaner .reset_wordpress .border_box {position:relative;border:solid 1px #4DB9AB;padding:10px;border-radius: 3px;display: flex;flex-direction: column;justify-content: center;}
.data_cleaner .hover_tooltip {padding: 5px; height:0;opacity:0;visibility:hidden;position: absolute;right: 25px;border-radius: 3px;background-color: black;color:  white;font-size: 12px; transition:all .3s ease;}
.data_cleaner .reset_wordpress .border_box .glyphicon:hover + .hover_tooltip {opacity:1;visibility: visible;height: auto;}
.data_cleaner .hover_tooltip > br:first-child, .data_cleaner .hover_tooltip:empty {display:none;}
/*POPUP*/
#editMedia {padding:0 !important;z-index: 9999;overflow-y: hidden;}
#editMedia .modal-dialog {width: 100%;height: 100%;margin-bottom: 0;}
#editMedia .modal-content {width: 100%;box-shadow: none;background-color: transparent;border: none;border-radius: 0;}
#editMedia .modal-content form {max-width: 100%;margin: 0 0 0 160px;background: #eaeaea;padding: 32px 0 0px;min-height: 100vh;}
#editMedia .modal-content form input[type="text"], #editMedia .modal-content form textarea, #editMedia .modal-content form .form-control {border-width: 2px;padding: 0 10px;}
#editMedia .modal-body {padding:0;}
#editMedia .media_label {margin:2px 0 0;}
#editMedia .container {width:100%;}
.media_overlay_header {margin-bottom: 15px;text-align: right;}
.media_overlay_header h4 {margin:0;font-size:14px;}
.media_content_div {padding: 0 15px;max-height: 450px;overflow-y: auto;background-color: white;border-radius: 10px;}
.media_content_div .media_row { padding:15px 0;}
.media_content_div .media_row > .col-md-2 {padding-right: 0;}
.media_content_div .media_row:not(:last-of-type) {border-bottom:solid 2px #dddedf;}
.media_content_div .media_row:nth-of-type(even) {background-color:#eaf1f9;}
.media_content_div .media_row .img-preview {max-width: 100%;height:117px;background-repeat: no-repeat;background-size: contain;background-position: center;}
.media_content_div .media_row embed, .media_content_div .media_row audio, .media_content_div .media_row video {max-width: 100%;width: 100%;max-height: 117px;}
.edit_media_col_12:not(:last-of-type) {margin-bottom: 7px;}
.media_label {margin: 8px 0 0;min-width: 85px; color:#9f9f9f;float: left;font-weight: normal;}
input[type="text"].edit_media_input, .media_content_div textarea {width: calc(100% - 85px);border-radius: 5px;padding: 4px 15px;color: #9f9f9f;border-color: #4DB9AB;border-style: solid;}
.media_content_div textarea {height: 128px;resize: none;}
#editMedia .modal-footer {padding: 15px 0 0;border: none;text-align: left;}
/*Image Optimize*/
.range_compression {width: 390px;left: auto;right: 0;top: auto;bottom: 100%;margin: 0 0 15px;padding: 30px 15px;box-shadow: none;border: solid 2px #4DB9AB;color: #4DB9AB;text-transform: uppercase;}
.range-slider {display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;}
.range-slider:not(:first-child) {margin-top:10px;}
.range-slider label {width: 100%;margin: 0;font-weight: 400;}
.range-slider .range-slider_range {-webkit-appearance: none;width: calc(100% - (50px + 10px));height: 10px;border-radius: 0;background: rgba(77, 185, 171, 0.3);outline: none;padding: 0;}
.range-slider_range::-webkit-slider-thumb {-webkit-appearance: none;width: 30px;height: 10px;border: 0;border-radius:0;background: #4DB9AB;cursor: pointer;transition: background .15s ease-in-out;}
.range-slider_range::-moz-range-thumb {appearance: none;width: 30px;height: 10px;border: 0;border-radius:0;background: #4DB9AB;cursor: pointer;transition: background .15s ease-in-out;}
.range-slider_value {width: 50px;text-align: center;padding: 5px;border: solid 2px #4DB9AB;color: #4DB9AB;font-weight: 700;font-size: 16px;border-radius: 3px;}

.loading {position: fixed;z-index: 999;background-color: rgba(18, 199, 132, 0.88);top: 0;left: 0;bottom: 0;right: 0;display: flex;align-items: center;justify-content: center;}
.loading_box {font-size: 16px;text-transform: uppercase;color: white;background-color: #222;padding: 20px;border-radius: 5px;width: 100%;max-width: 320px;text-align: center;font-weight: 700;line-height:1.5;}
.loading_box span {font-size: 14px;display:block;color:rgb(18, 199, 132);margin-bottom:15px;}
.loading_box img {width: 50px;animation: swing 2900ms infinite linear;}
@keyframes swing {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
}
.alert-box {display: none;position: fixed;width: 17%;height: 60px;z-index: 99999999999;left: 50%;top: 50%;transform: translate(-50%, -50%);padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
.success {color: #3c763d;background-color: #beffa4;border-color: #73d026;}
.unsuccess {color: #4a4a4a;background-color: #ffa4a4;border-color: #d02626;}
/*RESPONSIVE*/
@media screen and (max-width:1400px) {
.WPMC_media_scan, .WPMC_settings {padding-left: 0;padding-right: 20px;}
}
@media screen and (max-width:1300px) {
.filter_top > li:not(:first-of-type), .filter_bottom > li:not(:first-of-type) {margin-left: 8px;}
.data_cleaner > li label {width: 40%;}
.data_cleaner > li .form-group .w2 {margin-left: 40%;}
}
@media screen and (max-width:1199px) {
.data_cleaner > li {width: calc(100% / 2 - 10px);}
.filter_top > li:last-of-type {width: 100%;margin: 10px 0 0;}
.filter_bottom > li:nth-of-type(5) {clear: left;margin-left: 0;}
.filter_bottom > li:nth-of-type(n+5) {margin-top:8px;}
}
@media screen and (max-width:991px) {
.filter_top > li:not(:first-of-type), .filter_bottom > li:not(:first-of-type) {margin-left: 4px;}
}
@media screen and (max-width:782px) {
.WPMC_header a {max-width: 120px;}
.WPMC_media_scan {padding-right: 10px;}
.data_cleaner > li {width: 100%;}
#editMedia .modal-content form {max-width: 100%;width: 100%;margin:0;}
.setting_menu, .setting_menu li {margin: 0;}
.WPMC_settings .left_block {width: 100%;height: auto;margin-bottom:20px;}
.WPMC_settings .right_block {width: 100%;padding-left: 0;}
.WPMC_settings .form-group label {width: 80px;}
.WPMC_settings .form-group .form-control {width: calc(100% - 80px);}
}
@media screen and (max-width:1200px) and (min-width: 1024px) {
	.media_content_div {max-height: 400px;}
}
@media screen and (max-width:1024px) {
	.col-md-12 {clear: both;}
}

/*Multiple file input*/
.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
  width: 100%;
height: 100%;
}
/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
/* Tooltip css */
.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}
.tooltip .top {
    min-width:200px; 
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}
.tooltip:hover .top {
    display:block;
}
.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}
.tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.ui-tooltip {
    /* tooltip container box */
    white-space: pre-line;
}
.ui-tooltip-content {
    /* tooltip content */
    white-space: pre-line;
}